<% @page_title = "about" %>

<div class="container">
  <div class="about col-md-3">
    <h1>about me</h1>
    <p><span>Kevin Oh</span> is a full-stack web developer from New York. I focus on creating attractive, accessible, intuitive websites using the latest web standards.</p>
    <p>I use primarily <a href="http://www.laravel.com">Laravel</a> and <a href="http://www.rubyonrails.org">Ruby on Rails</a> for my work. Each one of my websites is lovingly hand-coded to be fast and secure. </p>
  </div>

  <div class="col-md-9">
    <h1>past work</h1>

    <% @sites.each do |site| %>

    tr>td

  </div>
</div>