<% @page_title = "home" %>

<!--jumbotron-->
<div class="jumbotron bridge">
  <div id="jumbotron" class="container">
    <h1>hi, i'm kevin oh</h1>
    <p>i develop websites well, on-time, on-budget.</p>
    <a href="about" class="btn btn-primary">Learn More</a>
  </div>
</div>

<!--three columns-->
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <h2> HELLO MY NAME IS KEVIN OH we use the latest technologies</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quasi minima corporis, expedita molestiae. Iste dolorem libero expedita cum dolore veritatis, accusantium vel voluptates obcaecati sapiente, labore alias nobis magni.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quidem mollitia dolorum pariatur blanditiis asperiores error, minima sapiente omnis eos at nulla laboriosam qui porro, quod nisi, nemo aliquam ipsa?</p>
    </div>
    <div class="col-md-4">
      <h2> HELLO MY NAME IS KEVIN OH we use best practices</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, dolore nulla et asperiores similique ipsam impedit laboriosam voluptates ut quasi, numquam, maxime dolorum. Dicta eum a quod veritatis totam, aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum odio tempora pariatur eius nesciunt impedit quod dignissimos maxime quaerat quasi ab cum rem ullam, reprehenderit laboriosam, dolor nobis suscipit placeat.</p>
    </div>
    <div class="col-md-4">
      <h2> HELLO MY NAME IS KEVIN OH we make it easy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque perferendis obcaecati adipisci natus amet libero voluptates, maxime, voluptatem optio fuga necessitatibus aspernatur reiciendis soluta repudiandae delectus odio dicta porro, quam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, pariatur, ducimus! Perspiciatis repellendus sit nisi saepe debitis dolor similique obcaecati eum inventore, praesentium autem, necessitatibus dolores perferendis ipsa ipsam quam!</p>
    </div>
  </div>
</div>