// home
#jumbotron {
	width: 600px;
	text-align: center;
}

.jumbotron img{
	background: url('bridge.jpg') !important;
}

h1 {
	font-family: 'Lato', sans-serif;
	color:blue;
}

// about
span {
	color: #e3e3e3;
}