// home
#jumbotron {
	width: 600px;
	text-align: center;
}

.jumbotron img{
	background: url('bridge.jpg') !important;
}

h1 {
	font-family: 'Lato', sans-serif;
}

// about
span {
	color: #e3e3e3;
}

label {
	font-family: 'Lato', sans-serif;
}

.messagesent{
	padding: 20px;
	background-color: #e3e3e3
}